{% extends "base.html" %}

{% block content %}
<h1>Categories</h1>
<a href="{% url 'category:create' %}" class="btn">Add New Category</a>

<table class="crud-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.description|truncatewords:5 }}</td>
            <td class="actions">
                <a href="{% url 'category:edit' category.pk %}" class="btn">Edit</a>
                <form method="post" action="{% url 'category:delete' category.pk %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}